.header {
    text-align: center;
    margin: 30px auto 0;
    max-width: 500px;
}


.header-bottom {
    margin-top: 30px;
    border-top: 2px solid $COLOR_ACCENT;
    border-bottom: 2px solid $COLOR_ACCENT;
}