.menu {
    font-size: 0;
}

.menu-item {
    display: inline-block;
    font-size: $FONT_SIZE_DEFAULT;
}

.menu-item + .menu-item {
    margin-left: 35px;
}

.menu-item a {
    display: block;
    position: relative;
    padding: 10px 8px;
    font-family: $FONT_FJALLA;
}

.menu-item a:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $COLOR_ACCENT;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 500ms all ease;
}

.menu-item:hover a:after {
    bottom: 8px;
}