@font-face {
    font-family: 'icons';
    src:url('../fonts/icons/icons.eot?-xxw1r5');
    src:url('../fonts/icons/icons.eot?#iefix-xxw1r5') format('embedded-opentype'),
        url('../fonts/icons/icons.ttf?-xxw1r5') format('truetype'),
        url('../fonts/icons/icons.woff?-xxw1r5') format('woff'),
        url('../fonts/icons/icons.svg?-xxw1r5#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
